* {
    margin: 0;
    padding: 0;
   
}


.logo img {
    width: 45px;
}

.logo {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.logo-text {
    font-family: sans-serif;
    font-size: medium;
    color: #5B47D1;
}
.navbar {
    background-color: #F5F5F7;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.menu {
    display: flex;
    align-items: center;

}

.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 30px;
}

.menu ul li {
    margin: 0;
}

.menu a {

    text-decoration: none;
    text-transform: capitalize;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: bold;
    position: relative;

}

.menu a:hover {
    color: rgb(104, 104, 255);
}

.menu a::before {
    content: '';
    position: absolute;
    bottom: -5px; 
    left: 0;
    width: 0%;
    height: 3px;
    background-color: rgb(104, 104, 255); 
    transition: all 0.5s;
}

.menu a:hover::before {
    width: 100%;
}

 .hero {
    height: 400px;
    background-image: url('../assets/background-picture.jpg');
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    position: relative;
    overflow: hidden;
}

.content {
    color: white;
    
}

.latest {
    text-align: center;
    margin-top: 50px;
}

 .news-section {
    background-color: #F5F5F7;
    padding: 50px 0;           
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-left:15%;
    margin-right: 15%;
    margin-top: 5%; 
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 360px;
    min-height: 472px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: all 0.3s ease-in-out; 
    cursor: pointer;
    background-color: white;
}

.card:hover {
  transform: translateY(-8px); 
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15); 
}

.card:hover .image-placeholder {
  filter: brightness(1.05);
}
.info {
    background-color: white;
    /* height: 164px; */
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.date-name {
    display: flex;
    justify-content: space-between;
    margin: 16px;
    
}

.content-info {
    margin: 16px;
    flex-grow: 1;
    
}

.content-info h4 {
    font-size: 20px;
}
.card img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    display: block;
}

footer {
        background-color: #252424;
}
.additional-info {
    color: #A1A1A6;
    display: grid;
    align-items: center;
    align-content: space-evenly;
    justify-content: space-around;
    height: 300px;
    grid-template-columns: 1fr 1fr;
    margin-left: 15%;


}
.additional-info h3 {
    color: white;
}

.additional-info a {
    list-style: none;
    color:#A1A1A6;
    text-decoration: none;
}

.additional-info ul {
    list-style: none;
}


.additional-info a:hover {
    color: rgb(104, 104, 255);
    transition: 0.4s ease-in-out;
}

.end {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    background-color: black;
    color: #86868B;
}

.card a:link, .card a:visited {
  background: #030038;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.card a:hover, .card a:active {
  background: #030038;
  background: linear-gradient(169deg, rgba(3, 0, 56, 1) 0%, rgba(0, 0, 87, 1) 35%, rgba(0, 130, 48, 1) 100%);
}